#contact {
  width: 100%;
}

.form-contact {
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}

.item-text {
  color: var(--Primary);
}

.tag-heading {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1.1px;
  margin-bottom: 32px;
}

.btnSubmit {
  height: 56px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  width: max-content;
  background-color: var(--Primary);
  color: var(--Black);
  font-weight: 600;
}