<section id="experiencia">
  <div class="contenedor_experiencia">
    <div class="experiencia_titulo">Experiencia</div>
    <div class="experiencia_subtitulo">Mi experiencia en el campo IT.</div>

    <div class="contenedor_timeline">
      <ul class="experiencia_ul">

        @for(exp of listaExperiencia; track exp.id){
        <li class="experiencia_li">
          <div class="contenedor_linea">
            <span class="circulo">
            </span>
            <span class="linea">
            </span>
          </div>
          <div class="contenedor_trabajo">
            <div class="contenedor2_trabajo">
              <div class="trabajo_p1">
                <div class="trabajo">
                  <div class="trabajo_titulo">{{exp.titulo}}</div>
                  <div class="trabajo_empresa">{{exp.empresa}}</div>
                  <div class="trabajo_fecha">{{exp.fecha}}</div>
                </div>
              </div>
              <div class="trabajo_p2">
                <span class="trabajo_descripcion">{{exp.descripcion}}</span><br>

                <div class="trabajo_habilidades"><b>Habilidades:</b>
                  <div class="trabajo_lista_skills">
                    <div class="trabajo_habilidad1">• {{exp.habilidad1}}</div>

                    <div class="trabajo_habilidad2">• {{exp.habilidad2}}</div>
                    <div class="trabajo_habilidad3">• {{exp.habilidad3}}</div>
                    <div class="trabajo_habilidad4">• {{exp.habilidad4}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        }@empty {<p>No hay experiencia.</p>}

      </ul>
    </div>
  </div>
</section>