/* Sección Habilidades */
#habilidades {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.habilidades_titulo {
  padding: 0;
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  color: var(--text-primary-color);
}

#contenedor_habilidades {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 64rem;
  gap: 12px;
}

.contenedor_iconos {
  display: flex;
  opacity: 1;
  transform: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.iconos {
  justify-items: center;
  gap: 1em;
  padding: 10px;
  font-weight: bold;
  opacity: 1;
  transform: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icono {
  color: transparent;
  width: 90px;
  height: 76px;
  font-weight: 700;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: .5rem;
  gap: .75rem;
  align-items: center;
  display: flex;
}

.icono_nombre {
  color: var(--text-primary-color);
  font-weight: 400;
}

.icono:hover {
  transform: scale(1.2);
  transition-duration: .3s;
}

#icono_Github {
  width: 50px !important;
  height: 20px !important;
}
