<section id="habilidades">

  <div id="contenedor_habilidades">
    <h3 class="titulo_seccion">Tengo
      conocimientos en las siguientes tecnologías. </h3>

    <div class="contenedor_iconos" data-aos="flip-up" data-aos-delay="300" data-aos-duration="1000">
      @for (habilidad of listaHabilidades; track habilidad.id){

      <div class="iconos">
        <img id="icono_{{habilidad.nombre}}" class="icono" alt="{{habilidad.nombre}}" src="{{habilidad.icono}}">
        <div class="icono_nombre">
          {{habilidad.nombre}}
        </div>
      </div>
      }@empty {<p>No hay habilidades.</p>}

    </div>
  </div>


</section>
