<div class="header">
  <div class="container">
    <div class="header-textbox">
      <h1 class="h1 h1_home">
        Hola! soy Madelaine<br>
        Web Developer
      </h1>
      <p class="header-text">
        Tengo formación en Desarrollo Web tanto en la parte del cliente (Front End) como del servidor (Back End).
      </p>

      <div class="header-btns">
        <a href="#contact" id="btnContacto" class="btn btn-cta ">Contactame</a>
        <a href="#projects" id="btnProyectos" class="btn btn-secondary ">Mis Proyectos</a>
      </div>



    </div>
    <!--
    <a class="down" href="#resume" data-scroll="">
      <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
    </a>
-->
  </div>


</div>
