<section id="home">

  <div class="contenedor_divs">
    <div class="div_izq">

      <!--
      <div class="titulo" data-aos="fade-right">¡Hola!</div>


      <ngx-typed-js [strings]="['Desarrollo software']">
        <div id="contenedor_typed">
          <span class="subtitulo typing "></span>
        </div>
      </ngx-typed-js>
-->

      <p class="descripcion" data-aos="fade-right">
        Bienvenido/a a mi portfolio. Tengo
        conocimientos básicos de
        Bases de Datos (MySQL, MongoDB); JavaScript y C#. Con
        interés en desarrollarme
        profesionalmente en el
        ámbito de IT, siendo parte de equipos donde
        pueda contribuir, aprender de mis compañeros y superiores, y crecer en mi carrera.</p>
      <div class="contenedor_links">
        <div class="contenedor_link" data-aos="fade-up">
          <a href="linkedin.com" class="gradient-border" id="btnLinkedin">LinkedIn </a>
        </div>
        <div class="contenedor_link" data-aos="fade-up">
          <a href="#proyectos" class="gradient-border" id="btnProyectos">Ver portfolio <i
              class="fas fa-long-arrow-alt-right"></i></a>
        </div>

      </div>
    </div>
    <div class="div_der">
    </div>
  </div>







</section>