<div id="portfolio" class="section-portfolio style-1 spacing-5 section">
  <div class="heading-section mb_42">
    <div class="tag-heading">
      Portfolio
    </div>
    <h3 class="text_white fw-5  split-text effect-blur-fade" aria-label="Featured Projects" style="perspective: 400px;">

      <div class="title_projects" aria-hidden="true">
        Proyectos Realizados</div>
    </h3>
  </div>

  <div class="tabs-content-wrap tf-grid-layout md-col-2">

    @for(project of projects; track project.id){
    <div class="portfolio-item">
      <a href={{project.linkPreview}} data-fancybox="gallery" class="img-style">
        <img class="project_image" decoding="async" loading="lazy" src={{project.imagen}} srcset={{project.imagen}}
          alt="Portfolio Image">
        <div class="tag font-3 text-label text-uppercase fw-6 letter-spacing-1">
          {{project.tecnologia1}}, {{project.tecnologia2}}, {{project.tecnologia3}}
        </div>
      </a>
      <h5 class="title font-4 text_white">
        <a href={{project.linkPreview}} class="link">{{project.titulo}}</a>
      </h5>
      <div class="item-shape spotlight" style="opacity: 1;">
        <img src="/public/images/item/small-comet.webp" loading="lazy" decoding="async" alt="item">
      </div>
    </div>
    }
  </div>
</div>
