<section id="skills">
  <div class="col-lg-12">
    <div class="heading-section">
      <div class="tag-heading">
        Habilidades
      </div>
      <h3 class="title_skills split-text effect-blur-fade" aria-label="Technological Skills">
        Tecnologías
      </h3>
    </div>
  </div>

  <div class="col-lg-12">

    <div class="swiper">
      <swiper-container class="swiper-wrapper">
        <swiper-slide class="swiper-slide" *ngFor="let skill of skills; let i = index">

          <img [src]=skill.img [alt]=skill.title>
          <div class="skill-title">
            <p>{{skill.title}}</p>
          </div>

        </swiper-slide>
      </swiper-container>

      <!-- navigation buttons-->
      <div class="sw-button"></div>
      <div class="sw-button"></div>

      <!-- pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
