:root {
  --background-color: #fdf9f8;
  --background-secondary-color: #393bb2;
  --text-primary-color: #0f1624;
  --text-secondary-color: #4d4d4d;
  --tertiary-color: rgb(57, 59, 178);
  --tertiary-color-o: 57, 59, 178;
  --text-gradient: linear-gradient(to right, #393bb2, #a855f7, #ec4899);
  --box-shadow: rgba(23, 92, 230, 0.15);
  --box-shadow-card: #000;
  --box-shadow-card-img: #000;
  --border-color-card: rgb(226, 232, 240);
  --card-background-color: #ffffff;
}

html {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-size: 62.5%;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Onest", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  color: var(--color-texto-claro);
}

p {
  color: var(--color-texto-gris);
}

/* animacion botones */
.gradient-border {
  --border-width: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: var(--text-primary);
  background: var(--background-color);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg,
        #e2cbff,
        #393bb2,
        #e2cbff);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 20px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}