.footer {
  width: 100%;
  padding: 2rem 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.contenedor_footer {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  -webkit-box-align: center;
  align-items: center;
  padding: 1rem;
  color: var(--text-primary-color);
}

.footer_iconos {
  color: var(--Text-light);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 1rem;
}

.footer_icono {
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  margin: 0px 1rem;
  font-size: 3rem;
  color: var(--text-muted);
  transition: color 0.2s ease-in-out;
  z-index: 1;
  padding: 0.2em;
}

.footer_icono:hover {
  color: var(--Black);
  background-color: var(--Text-light);
  border-radius: 4px;
}